.img {
  width: 70px;
  height: 70px;
}

.user {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 30px 20px 0px 20px;
  padding: 5px;
  grid-gap: 10px;
  border: 1px dashed rgb(171, 158, 158);
  border-radius: 15px;
}

.photoBlock {
  display: grid;
  grid-column: span 1;
  justify-self: start;
  align-items: center;
}

.nameBlock {
  display: grid;
  grid-column: span 6;
  justify-items: stretch;
  align-items: center;
}

.fullname {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
}
.status {
  font-size: 14px;
  font-style: italic;
  color: grey;
}

.locationBlock {
  display: grid;
  grid-column: span 1;
  justify-items: center;
  align-items: center;
}

.btns {
  display: grid;
  grid-column: span 8;
  grid-row: span 1;
  justify-items: stretch;
  align-items: stretch;
  margin: 10px 20px 0px 20px;
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  background-color: #ffaa008e;
  border-radius: 15px;
  letter-spacing: 3px;
  transition: 0.7s background-color;
  border-style: none;
  /* width: 800px; */
  /* display: block; */
  /* margin: 0 auto; */
}

button:hover {
  background-color: #ffaa00;
  cursor: pointer;
}

.selectedPage {
  font-weight: bold;
  background-color: #ffaa008e;
  padding: 7px;
  border-radius: 5px;
  font: 300 20px Poppins;
  border: 1px solid rgba(101, 194, 201, 0.766);
}

.currentPageBox {
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  font: 300 18px Poppins;
  background-color: rgba(101, 194, 201, 0.345);
  border-radius: 10px;
  max-width: 800px;
}

.currentPageBox span {
  margin: 10px;
}
