.header {
  background-color: #00999995;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin-top: 100px;
}

.friendsText {
  text-decoration: none;
  letter-spacing: 1px;
  color: #000000;
}

.active {
  color: #ffaa00;
  text-decoration: none;
  letter-spacing: 1px;
}

.items {
  background-color: rgba(101, 194, 201, 0.766);
  margin-top: 15px;
  border-radius: 15px;
  padding: 5px;
}

.img {
  width: 40px;
  border-radius: 10px;
  margin: 4px;
}
