.dialogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dialogItems {
  padding: 20px;
  grid-column: span 1;
  grid-row: span 2;
}

.messages {
  padding: 20px;
  grid-column: span 3;
  grid-row: span 1;
}

.dialog {
  border-radius: 5px;
  background-color: rgba(231, 228, 228, 0.991);
  padding: 5px;
  margin-top: 5px;
  width: 300px;
}

.active {
  color: #ff4040;
  text-decoration: none;
  border-radius: 5px;
  padding-left: 5px;
}

.name {
  text-decoration: none;
  padding: 5px;
  color: black;
}

.message {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.img {
  width: 45px;
  border-radius: 15px;
}

textarea {
  border-radius: 10px;
  width: 500px;
  height: 100px;
}